__pycache__
.vscode/settings.json

/override.yaml
/discovery.yaml
/launch_servo.sh
app-manifests/*
servo-manifests/opsani-servo-auth.yaml
servo-manifests/opsani-servo-configmap.yaml
servo-manifests/opsani-servo-deployment.yaml
servo-manifests/opsani-servo-rbac.yaml
/opsani.env

